/* App-related */
main {
    width: 100vw;
    background: #0B7F41; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #3b9866, #0B7F41 , #3b9866); /* Standard syntax (must be last) */
}

/* Containers */
.card {
    padding: 0;
    border-radius: 12px;
    border: 1px solid #DAE1E9;
}
