
.background {
    background: transparent;
}

.gradient {
    position: absolute;
    object-fit: fill;
}

#gradient1 {
    top: 0;
    left: 0;
    width: 32vw;
    height: 41vw;
}

#gradient2 {
    top: 512px;
    right: 0;
    width: 38vw;
    height: 102vw;
}

#gradient3 {
    bottom: 0;
    left: 0;
    width: 12vw;
    height: 44vw;
}

@media screen and (max-width: 992px) {
    #gradient1 {
        width: 40vw;
        height: 44vh;
    }

    #gradient2 {
        width: 42vw;
        height: 120vw;
    }

    #gradient3 {
        width: 20vw;
        height: 56vw;
    }
}