/* Sizes */
/* Responsive */
/* Other */
/* Colors */
/* Fonts */
.container-onboarding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /*background: #0099D0;*/
}

.container-onboarding a:hover {
    /*color: #0099D0 !important;*/
    text-decoration: underline;
}

.container-onboarding input {
    outline: none;
    border: none;
}

.container-onboarding input:focus::placeholder {
    color: transparent;
}

.container-onboarding input::placeholder {
    color: #999;
}

.container-onboarding textarea {
    outline: none;
    border: none;
}

.container-onboarding textarea:focus::placeholder {
    color: transparent;
}

.container-onboarding textarea::placeholder {
    color: #999;
}

.container-onboarding textarea:focus, .container-onboarding input:focus {
    border-color: transparent !important;
}

.container-onboarding button {
    outline: none !important;
    border: none;
    background: transparent;
}

.container-onboarding button:hover {
    cursor: pointer;
}

.container-onboarding iframe {
    border: none !important;
}

.container-onboarding .txt1, .container-onboarding .txt2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.45;
}

.container-onboarding .txt1 {
    color: #999 !important;
}

.container-onboarding .txt2 {
    color: #666 !important;
}

.container-onboarding .wrap-onboarding {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
    background: white;
    border-radius: .5rem;
    overflow: visible;
    height: auto;
    padding: 2rem 4rem;
}

.container-onboarding .wrap-onboarding .wrap-form {
    width: 350px;
}

.container-onboarding .wrap-onboarding .wrap-form .wrap-form-title {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    color: #171719;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.container-onboarding .wrap-onboarding .wrap-form .form-check-container {
    display: block;
    margin-bottom: 0.75rem;
    padding-left: 1.25rem;
    cursor: pointer;
}

.container-onboarding .wrap-onboarding .wrap-form .form-check-container input[type=checkbox] {
    margin-top: 5px;
    margin-right: .5rem;
    margin-left: -1.25rem;
    width: auto;
}

.container-onboarding .wrap-onboarding .wrap-form .form-check-container:hover {
    opacity: 1;
    text-decoration: none !important;
}

.container-onboarding .wrap-onboarding .wrap-form .form-check-container .legal {
    text-decoration: underline;
}

.container-onboarding .wrap-onboarding .wrap-form .text-center p:first-child {
    margin: 0;
}

.container-onboarding .wrap-onboarding .wrap-form .g-recaptcha-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

.container-onboarding .wrap-onboarding .wrap-form .wrap-form-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 0.75rem;
    width: 100%;
}

.container-onboarding .wrap-onboarding .wrap-form .wrap-form-btn-container .wrap-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background: #3b9866;
    color: white;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s;
}

.container-onboarding .wrap-onboarding .wrap-form .wrap-form-btn-container .wrap-form-btn:hover {
    opacity: .8;
    text-decoration: none;
}

.container-onboarding .wrap-onboarding .wrap-image {
    margin-left: 6rem;
}

@media screen and (max-width: 992px) {
    .container-onboarding .wrap-onboarding .wrap-image {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container-onboarding .wrap-onboarding {
        padding: 2rem 4rem;
    }
    .container-onboarding .alert-onboarding {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .container-onboarding .wrap-onboarding {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 32px 20px;
        width: 100%;
    }
    .container-onboarding .alert-onboarding {
        font-size: .65rem;
    }
}
